.navbar {
	padding: 0.5rem 0;
}

.media-img {
	max-width: 150px;
}

.stars {
	width: 125px;
}

.breadcrumb {
	background-color: #fff;
	margin: 0 -1rem;
}

img,
.img {
	max-width: 100%;
}

/* avatar */

.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.avatar-frame {
	display: inline-block;
	width: 100%;
	height: 0;
	padding: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 4px;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 4px;
}

.avatar-empty {
	border: 1px dashed #d1d8dd;
	border-radius: 4px;
}

.avatar-small {
	margin-right: 5px;
	width: 24px;
	height: 24px;
}

.avatar-small .standard-image {
	font-size: 14px;
}

.avatar-small .avatar-frame {
	border-radius: 3px;
}

.avatar-medium {
	margin-right: 5px;
	width: 36px;
	height: 36px;
}

.avatar-medium .standard-image {
	font-size: 18px;
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
}

.avatar-large .standard-image {
	font-size: 36px;
}

.avatar-xl {
	margin-right: 10px;
	width: 108px;
	height: 108px;
}

.avatar-xl .standard-image {
	font-size: 72px;
}

.avatar-xs {
	margin-right: 3px;
	margin-top: -2px;
	width: 17px;
	height: 17px;
	border: none;
	border-radius: 3px;
}

.avatar-xs .standard-image {
	font-size: 9px;
}

.avatar-text {
	display: inline;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.standard-image {
	width: 100%;
	height: 0;
	padding: 50% 0;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	line-height: 0;
	color: #d1d8dd;
	border: 1px solid #d1d8dd;
	font-weight: normal;
	margin-top: -1px;
}

.module-anchor-statement {
 -ms-flex-align:center;
 align-items:center;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:center;
 justify-content:center;
 padding-bottom:30px;
 padding-top:30px
}
.module-anchor-statement__header-one {
 height:calc(65vh - 57px);
 max-height:500px;
 min-height:400px
}
@media (min-width:600px) {
 .module-anchor-statement__header-one {
  max-height:600px;
  min-height:450px
 }
}
@media (min-width:1024px) {
 .module-anchor-statement__header-one {
  height:calc(65vh - 65px);
  max-height:583px;
  min-height:340px
 }
}
.module-anchor-statement__header-one p {
 -moz-osx-font-smoothing:grayscale;
 -webkit-font-smoothing:antialiased;
 color:#202124;
 font-family:"Google Sans Display",Arial,Helvetica,sans-serif;
 font-size:2.3125rem;
 font-weight:400;
 letter-spacing:-.03125rem;
 line-height:3rem;
 color:#000;
 font-size:8vw;
 line-height:1.3em;
 margin:0 auto;
 width:82%
}

.module-anchor-statement .blue {
 color:#4285f4
}

.module-anchor-statement .green {
 color:#34a853
}

.module-anchor-statement .red {
 color:#ea4335
}

.module-anchor-statement .yellow {
 color:#f9ab00
}
