{% extends "templates/base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<section class='section-padding'>
	<div class='container text-center'>
	<h1>Beyond Open Source</h1>
	<p class='lead pb-4'>Kami percaya bahwa perusahaan besar didorong oleh keunggulan, dan menambah nilai bagi pelanggan dan masyarakatnya. Anda akan menemukan tim kami menyerap nilai-nilai ini.</p>
	<p>
	<div class="row team-members">
		{% for member in team_members %}
		<div class="col-sm-3 mb-4 person">
			<img class="greyscale img-fluid" src="{{member.image or 'https://api.adorable.io/avatars/200/' + member.full_name}}">
			<h5 class="mt-3 font-weight-normal">{{member.full_name}}</h5>
			<p class='text-muted'>
				{{member.role}}
				<br>
				<a class='text-muted' href="{{member.social_link}}" target="_blank">
					{{member.social_label or member.social_link}}
				</a>
			</p>
		</div>
		{% endfor %}
	</div>
	</div>
</section>

<section class="section-padding section-bg">
	<div class='container'>
	<div class="text-center">
		<h4>Join us in making excellent open source software for the world</h4>
		<p class='lead'>
			Ada banyak perusahaan IT di Bekasi, tetapi tidak ada yang seperti UMIS dan Kami telah hadir selama 10 tahun untuk membantu berbagai perusahaan.</p>
		<div class='mt-4'><a class = 'btn btn-dark btn-sm' #>Lihat Posisi</a></div>
	</div>
	</div>
</section>
<section class="section-padding contact">
	<div class='container'>
	<div class='row'>
	<div class="col-sm-6" id="contact">
		<h4>Write to us</h3>
		<p>Punya pertanyaan atau komentar? Tulis, kami akan senang mendengar dari Anda. Kami akan membalas secepatnya.</p>
		<div class='text-muted mt-3'>Subject</div>
		<input class="form-control" type="text" name="subject">
		<div class='text-muted mt-3'>Your email</div>
		<input class="form-control" type="text" name="email">
		<div class='text-muted mt-3'>Message</div>
		<textarea class="form-control" name="message" style="height: 200px;"></textarea>
		<a href=# id="send" class="btn btn-dark btn-send form-control mt-4">Send</a>
	</div>
	<div class="mt-5 mt-sm-0 col-sm-6">
		<h4>Visit our office</h4>
		<p>Jl. Industri Kalimalang, Tegal Gede, <br> Pasirsari, Cikarang Selatan, Bekasi, Jawa Barat 17530,<br> Indonesia</p>
		<p>Email: <b><a href="mailto: sales@umis.co.id">sales@umis.co.id</a></b></p>
		<p>Skype: <b><a href="skype:umis?chat">umis</a></b></p>
		<p>Phone: <b><a href='tel:+6281280030335'>+6281280030335</b></a></p>
		<!-- <img class="frappe-hero mx-5 mt-5" src="/assets/frappe_theme/img/office-map.svg" class="office-map"> -->
		<h4 class="mt-5">Social</h4>
		<p>Twitter: <a href="https://twitter.com/" target="_blank"><b>@umistecnnology</b></a></p>
		<p>Medium: <a href="https://medium.com/" target="_blank"><b>Umis</b></a></p>
		<p>LinkedIn: <a href="https://www.linkedin.com/" target="_blank"><b>PT Unitek Mitra Solusi</b></a></p>
		<p>Facebook: <a href="https://www.facebook.com/" target="_blank"><b>Umis</b></a></p>
	</div>
	</div>
	</div>
</section>

<style>
	.contact p {
		font-size: 16px;
	}
	@media (max-width: 577px) {
		.person img {
			max-width: 240px;
		}
	}

	.person a {
		text-decoration: none;
	}
</style>

<script>
	{% include "templates/includes/contact.js" %}
</script>
{% endblock %}
