{% extends "templates/base.html" %}
{% block title %}PT Unitek Mitra Solusi: All in One IT Solution Indonesia{% endblock %}
{% block head_include%}
	<meta name="description" content="UMIS Solusi IT dan Implementasi ERP di Bekasi. Umis membnatu bisnis manufacturing, distribution, retail, trading, services, education, non profits and healthcare" />
	<meta name="keywords" content="Jasa IT Cikarang, Jasa IT Bekasi, Jasa IT Karawang, Jasa IT Inventory, Jasa Website, Jasa SEO,ERP Software, Cloud ERP, Open Source ERP, Accounting Software, Online ERP, Online Accounting, ERP for small business" />
	<meta name="google-site-verification" content="#" />
	<meta name="author" content="umis.co.id">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="1 days">
	<meta property="og:title" content="UMIS - All In One IT Solution">
	<meta property="og:description" content="UMIS Solusi IT dan Implementasi ERP di Bekasi. Umis membnatu bisnis manufacturing, distribution, retail, trading, services, education, non profits and healthcare">
	<!-- <meta property="og:image" content="{{ frappe.utils.get_url() }}/assets/erpnext_com/img/home/social.png"> -->
	<meta property="og:url" content="https://umis.co.id">
	<meta name="twitter:title" content="UMIS - All In One IT Solution">
	<meta name="twitter:description" content="UMIS Solusi IT dan Implementasi ERP di Bekasi. Umis membnatu bisnis manufacturing, distribution, retail, trading, services, education, non profits and healthcare">
	<!-- <meta name="twitter:image" content="{{ frappe.utils.get_url() }}/assets/erpnext_com/img/home/social.png"> -->
	<meta name="twitter:card" content="summary_large_image">

{% endblock %}

{% block content %}
<!-- <section class='section-padding splash'
	style='background-image: url(/assets/frappe_io/images/landing-pages/get-doc.png)'>
</section> -->
<section class="top-section">
	<div class='container'>
	<h1><span class="biru">Open Source</span> technologies, <span class="merah">solutions</span> and <span class="hijau">consulting</span></h1>
	<p class='lead pb-4'>Dapatkan wawasan tentang bisnis Anda dan terhubung dengan para pakar tepercaya untuk membantu Anda dengan tantangan atau pertanyaan teknologi spesifik.</p>
	<br>
	<img src='/assets/frappe_io/images/bandung.jpg' class='greyscale mt-5'>
	<br>
	<br>

{% macro card(title, body, btnlabel, btnlink, badges) %}
<div class="col-sm mb-4 text-left">
	<a href="{{ btnlink }}" class="card h-100">
	  <div class="card-body">
		<h5>{{ title }}</h5>
	    <div class="card-text">{{ body }}</div>
	    <!-- <a href="{{ btnlink }}" class="btn btn-dark btn-sm">{{ btnlabel }}</a> -->
	  </div>
	</a>
</div>
{% endmacro %}

</section>
<br>
	<section class="section-md section-light">
	<div class="container">
	<h3 class="text-center">Layanan Kami</h3>
	<div class="row mt-5">
		
	<div class="row mt-5">
		{{ card(
			"IT Managed",
			"UMIS adalah Perusahaan Solusi IT yang profesional dan tepercaya.",
			"ERPNext.com",
			"/it-managed",
			["App", "Python", "JS"]
		) }}

		{{ card(
			"Web Development",
			"Dengan perubahan teknologi yang cepat dan dunia bergerak menuju ekonomi terintegrasi secara global.",
			"Documentation",
			"/web-development",
			["Framework", "Python", "JS"]
		) }}

		{{
			card(
				"ERP Solution",
				"Solusi perangkat lunak ERPNext yang kami kembangkan sederhana, kuat, dan penuh fitur.",
				"ERPNext.com",
				"/erp-solution",
				["App", "JS"]
			)
		}}

	</div>

	<div class="row">
		{{ card(
			"Cloud Solutions",
			"Komputasi awan memberikan bisnis solusi yang andal dan hemat biaya untuk mendorong pertumbuhan bisnis.",
			"ERPNext.com",
			"/cloud-solutions",
			["Lib", "JS"]
		) }}

		{{ card(
			"Infrastructure",
			"Solusi Implementasi dan pemeliharaan Infrastruktur yang memenuhi berbagai kebutuhan pelanggan.",
			"ERPNext.com",
			"/infrastructure",
			["Lib", "JS"]
		) }}

		{{ card(
			"Marketing",
			"Pemasaran telah mengalami banyak perubahan dalam beberapa tahun sebelumnya. Dari kata tradisional ke pemasaran internet yang sangat niche.",
			"ERPNext.com",
			"/marketing",
			["Lib", "JS"]
		) }}
	</div>
	
	</div>	
		
	</div>
	<p class="mt-4 text-center">
		<!-- <a href='/' class='text-muted'>Selengkapnya</a> -->
		<a href="/" class="btn btn-sm btn-secondary">Selengkapnya</a>
	</p>
	</div>
</section>
<section class='section-padding text-center'>
	<div class='container'>
		<h3>PT Unitek Mitra Solusi adalah konsultan TI dan penyedia layanan TI berbasis teknologi.</h3>
		<p class='lead'>Kami menerapkan teknologi open source yang hemat biaya dan siap-bisnis untuk pelanggan kami. Solusi gabungan dirancang secara individual dan diintegrasikan ke dalam lanskap IT yang ada.</p>
		<img src='/assets/frappe_io/images/depan2.jpg' class='greyscale mt-5'>
		<p class='mt-5 lead text-muted'>Hubungi bagian pemasaran kami untuk konsultasi dan mendapatkan penawaran yang tepat</p>
		<a class='btn btn-dark mt-4' href='/rfq-lead'>Request for Quotation</a>
	</div>
</section>

<div class="background-shapes background-shapes--parallax" style="--scroll-position:2424px;">

        <div class="
          background-shapes__circle
            background-shapes__circle--secondary
          background-shapes__190b7b95f131c675ee34826639b3025b">
        </div>
</div>

<section class="section-padding section section-light">
	<div class="container text-center">
		<h3 class="text-center">Mitra Kami</h3>
		<p class="lead">Kami bekerjasama dengan berbagai perusahaan teknologi dunia dengan mengintergrasikan semua kedalam satu sistem</p>
		<img src="/assets/frappe_io/images/integrations.png" alt="ERPNext Integrations" class="my-5 d-none d-md-block">
		<img src="/assets/frappe_io/images/integrations-mobile.png" alt="ERPNext Integrations" class="my-5 d-block d-md-none">

		<!-- <div class='mt-4 '>
				<a class="btn btn-primary btn-lg" href="/pricing">Start Free Trial</a>
			</div> -->
	</div>
</section>


<style>
 .cta-grid .background-shapes {
  z-index:-1
 }
.cards-grid__item-wrapper,
.content-cards__progress-bar .carousel-progress__bar[value]::-webkit-progress-bar,
.content-cards__progress-bar .carousel-progress__bar[value]::-webkit-progress-value,
.content-dark:after,
.content-dark:before,
.content-horizontal--secondary:after,
.content-horizontal--tertiary:after,
.cta-grid .background-shapes__circle,
.hero-devices:before {
 transition:background-color .3s ease-in
}
.content-cards__image--dark,
.content-cards__image--light,
.content-dark__image,
.content-horizontal__image,
.hero-devices__image-1 {
 transition:visibility .3s ease-in,opacity .3s ease-in
}
.biru {
  display: inline-block;
  visibility: visible;
  color: #4285f4;
}
.merah {
  display: inline-block;
  visibility: visible;
  color: #ea4335;
}
.hijau {
  display: inline-block;
  visibility: visible;
  color: #34a853;
}
.kuning {
  display: inline-block;
  visibility: visible;
  color: #f9ab00;
}

@media (max-width: 768px) {
	.rotate {
		display: block !important;
	}
}

@media screen and (min-width:841px) {
 .jiUjOd {
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  flex-direction:column;
  height:auto;
  justify-content:center;
  margin:100px auto 0;
  max-width:1200px
 }

.L3t2Sd {
  align-items:center;
  align-self:center;
  width:94%
 }
}
.lpxBPd {
 height:100%;
 position:relative;
 width:100%
}
.lpxBPd:not(:first-of-type) {
 position:absolute;
 top:0;
 transform:translateX(100%)
}
.FB65ic {
 animation:slideIn .75s ease-out forwards
}

.ajVtU {
 animation:slideOut .75s ease-out forwards
}
@keyframes slideOut {
 0% {
  transform:translateX(0)
 }
 to {
  transform:translateX(-100%)
 }
}


.page-content {
	padding-bottom: 0px !important;
}

.dashboard-section {
	margin: auto;
	max-width: 90%;
}

.dashboard-section h1 {
	font-size: 1.5em;
}

@media(min-width: 768px) {
	.dashboard-section {
		max-width: 80%;
	}
}

@media(min-width: 992px) {
	.dashboard-section {
		max-width: 65%;
	}
}

.hero-content h1 {
	font-size: 1.85em;
	font-weight: 300;
}

.hero {
	border-bottom: 0px;
}

.erp-hero {
	border-bottom: 1px solid #e1e9f0;
}

.hero-content p {
	margin-bottom: 100px;
}

.main-illustration {
	margin: -90px 0 -60px -32px;
	min-height: 420px;
}

.hero-title {
	font-size: 32px;
}

@media screen and (max-width: 750px) {
	.main-illustration {
		min-height: inherit;
	}
}

@media screen and (max-width: 480px) {
	.main-illustration {
		margin: -60px 0 -20px -16px;
	}
	.hero-title {
		font-size: 26px;
	}
	.hero-title + p {
		font-size: 16px;
	}
}

.tab-content {
	z-index: 1;
	margin-top: -1px;
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
}

@media (max-width: 767px) {
	.tab-content {
		padding-top: 0px;
	}
}

.tab-content img {
	border-top:1px solid #ccc;
}

.clear {
 clear:both;
}

/*.navbar, footer, .later {
	opacity: 0;
}

.navbar, footer, .later {
    -moz-animation: cssAnimation 1s ease-in 0s forwards;
    -webkit-animation: cssAnimation 1s ease-in 0s forwards;
    -o-animation: cssAnimation 1s ease-in 0s forwards;
    animation: cssAnimation 1s ease-in 0s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        opacity: 1;
    }
}
*/

/* chrome-tabs */
.chrome-tabs {
	box-sizing: border-box;
	position: relative;
	font-size: 10px;
	height: 4.2em;
	background: linear-gradient(#dad9da, #d9d8d9);
	padding: 1em 1.2em 0.45em 1.2em;
	border-radius: 0.5em 0.5em 0 0;
	box-shadow: 0 0.05em #b7b7b7;
	overflow: hidden;
	text-align: left;
  }
  .chrome-tabs * {
	box-sizing: inherit;
	font-family: inherit;
  }
  .chrome-tabs .chrome-tabs-bottom-bar {
	position: absolute;
	bottom: 0;
	height: 0.45em;
	left: 0;
	width: 100%;
	background: #f2f2f2;
	box-shadow: 0 -0.05em rgba(0,0,0,0.27);
	z-index: 20;
  }
  .chrome-tabs .chrome-tabs-content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
  }
  .chrome-tabs .chrome-tab {
	position: absolute;
	left: 0;
	height: 2.8em;
	width: 24em;
	border: 0;
	margin: 0;
	z-index: 1;
  }
  .chrome-tabs .chrome-tab,
  .chrome-tabs .chrome-tab * {
	user-select: none;
	cursor: default;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background > svg {
	width: 100%;
	height: 100%;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-shadow {
	fill: none;
	stroke: rgba(0,0,0,0.27);
	stroke-width: 0.5px;
  }
  .chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-background {
	fill: #d0d0d0;
	transform: translateX(0.25px) translateY(0.25px);
  }
  .chrome-tabs .chrome-tab.chrome-tab-current {
	z-index: 999;
  }
  .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-background > svg .chrome-tab-background {
	fill: #f2f2f2;
  }
  .chrome-tabs .chrome-tab.chrome-tab-just-added {
	top: 10px;
	animation: chrome-tab-just-added 120ms forwards ease-in-out;
  }
  @-moz-keyframes chrome-tab-just-added {
	to {
	  top: 0;
	}
  }
  @-webkit-keyframes chrome-tab-just-added {
	to {
	  top: 0;
	}
  }
  @-o-keyframes chrome-tab-just-added {
	to {
	  top: 0;
	}
  }
  @keyframes chrome-tab-just-added {
	to {
	  top: 0;
	}
  }
  .chrome-tabs.chrome-tabs-sorting .chrome-tab:not(.chrome-tab-currently-dragged),
  .chrome-tabs:not(.chrome-tabs-sorting) .chrome-tab.chrome-tab-just-dragged {
	transition: transform 120ms ease-in-out;
  }
  .chrome-tabs .chrome-tab-favicon {
	position: relative;
	margin-left: 1.6em;
	height: 1.6em;
	width: 1.6em;
	background-size: 1.6em;
	margin-top: 0.6em;
	z-index: 3;
	display: inline-block;
	vertical-align: top;
	pointer-events: none;
  }
  .chrome-tabs .chrome-tab-title {
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #222;
	padding: 0.3em 0.1em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.2em;
	margin-top: 0.25em;
	max-width: calc(100% - 5em);
	pointer-events: none;
  }
  .chrome-tabs .chrome-tab-close {
	display: none;
	position: absolute;
	width: 1.4em;
	height: 1.4em;
	border-radius: 50%;
	z-index: 2;
	right: 1.4em;
	top: 0.7em;
  }
  .chrome-tabs .chrome-tab-close::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='#5a5a5a' stroke-linecap='round' stroke-width='1.125' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }
  .chrome-tabs .chrome-tab-close:hover::before,
  .chrome-tabs .chrome-tab-close:hover:active::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path stroke='#fff' stroke-linecap='round' stroke-width='1.2' d='M4 4 L10 10 M10 4 L4 10'></path></svg>");
  }
  .chrome-tabs .chrome-tab-close:hover {
	background: #e25c4b;
  }
  .chrome-tabs .chrome-tab-close:hover:active {
	background: #b74a3b;
  }
.section-light {
  background-color: #F7FAFC; }

.top-section.section-light {
  background-image: linear-gradient(0deg, #F7FAFC 0%, #fff 100%); }

.section-gray {
  background-color: #E2E8F0; }

.section-md {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section-sm {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.section-bg {
  background-color: #EDF2F7; }
  .section-bg code.hljs {
    background-color: #fff; }



</style>
{% endblock %}
