{% extends "templates/base.html" %}
{% block title %}PT Unitek Mitra Solusi: All in One IT Solution Indonesia{% endblock %}
{% block head_include%}
<meta name="google-site-verification" content="#" />
{% endblock %}

{% block content %}
<!-- <section class='section-padding splash'
	style='background-image: url(/assets/frappe_io/images/landing-pages/get-doc.png)'>
</section> -->
<section class="top-section">
	<div class='container'>
	<h1>Open Source technologies, solutions and consulting</h1>
	<p class='lead pb-4'>Bisnis Anda pasti akan tumbuh cepat dengan solusi kami.</p>
	<br>
	<img src='/assets/frappe_io/images/depan1.jpg' class='greyscale mt-5'>
	<br>

{% macro card(title, body, btnlabel, btnlink, badges) %}
<div class="col-sm mb-4 text-left">
	<a href="{{ btnlink }}" class="card h-100">
	  <div class="card-body">
		<h5>{{ title }}</h5>
	    <div class="card-text">{{ body }}</div>
	    <!-- <a href="{{ btnlink }}" class="btn btn-dark btn-sm">{{ btnlabel }}</a> -->
	  </div>
	</a>
</div>
{% endmacro %}
	<div class="row mt-5">
		{{ card(
			"IT Managed",
			"UMIS adalah Perusahaan Solusi IT yang profesional dan tepercaya.",
			"ERPNext.com",
			"/it-managed",
			["App", "Python", "JS"]
		) }}

		{{ card(
			"Web Development",
			"Dengan perubahan teknologi yang cepat dan dunia bergerak menuju ekonomi terintegrasi secara global.",
			"Documentation",
			"/web-development",
			["Framework", "Python", "JS"]
		) }}

		{{
			card(
				"ERP Solution",
				"Solusi perangkat lunak ERPNext yang kami kembangkan sederhana, kuat, dan penuh fitur.",
				"ERPNext.com",
				"/erp-solution",
				["App", "JS"]
			)
		}}

	</div>

	<div class="row">
		{{ card(
			"Cloud Solutions",
			"Komputasi awan memberikan bisnis solusi yang andal dan hemat biaya untuk mendorong pertumbuhan bisnis.",
			"ERPNext.com",
			"/cloud-solutions",
			["Lib", "JS"]
		) }}

		{{ card(
			"Infrastructure",
			"Solusi Implementasi dan pemeliharaan Infrastruktur yang memenuhi berbagai kebutuhan pelanggan.",
			"ERPNext.com",
			"/infrastructure",
			["Lib", "JS"]
		) }}

		{{ card(
			"Marketing",
			"Pemasaran telah mengalami banyak perubahan dalam beberapa tahun sebelumnya. Dari kata tradisional ke pemasaran internet yang sangat niche.",
			"ERPNext.com",
			"/marketing",
			["Lib", "JS"]
		) }}
	</div>
	
	</div>

</section>
<hr>
<section class='section-padding text-center'>
	<div class='container'>
		<h3>PT Unitek Mitra Solusi adalah konsultan TI dan penyedia layanan TI berbasis teknologi.</h3>
		<p class='lead'>Kami menerapkan teknologi open source yang hemat biaya dan siap-bisnis untuk pelanggan kami. Solusi gabungan dirancang secara individual dan diintegrasikan ke dalam lanskap IT yang ada.</p>
		<img src='/assets/frappe_io/images/depan2.jpg' class='greyscale mt-5'>
		<p class='mt-5 lead text-muted'>Hubungi bagian pemasaran kami untuk konsultasi dan mendapatkan penawaran yang tepat</p>
		<a class='btn btn-dark mt-4' href='/rfq-lead'>Request for Quotation</a>
	</div>
</section>
{% endblock %}
